body {
    background-color:#F2D7D5;
}
.addguide{
    font-size:40px;
    font-family: 'Manjari', sans-serif;
    text-shadow:3px 3px white;
}
.fontmodaltitle{
    font-size:23px;
    color:#1C2833(146, 11, 11);
}
.fontmodaldetail{
    font-size:17px;
    color:#1C2833(146, 11, 11);
    text-indent: 50px;

}
.button {
    /* bottom: 0px;
    position: fixed;
    float: right; */
    border-radius: 10%;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: fixed;
    bottom: 5px;
    right: 10px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
.navhome {
    height: 70px;
    font-size:20px;
    padding-left:30px;
    background-color:#1C2833;
}
.image {
    border-radius: 50%;
  }
.titlenav{
    font-size: 20px;
    font-family: 'Manjari', sans-serif;
    color: #1C2833;
}
.titlepage{
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    color: #1C2833;
}
.titlecontent{
    font-size: 30px;
    font-family: 'Manjari', sans-serif;
    color: #1A5276;
}
.america{
    color: #3498DB;
    font-size: 40px;
}
.titles{
    font-size: 40px;
    font-family: 'Manjari', sans-serif;
    color: #1A5276;
}
.greens{
    color: #48C9B0 ;
    font-size: 20px;
}
.news{
    font-size: 17px;
    color: #1C2833;
}
.newstitle{
    font-size: 20px;
    color:#1C2833;
}
.navview{
    height: 40px;
    background-color: #e0e0e0;
}
.color{
    background-color:#FBFCFC ;
}
.fonttitle{
    font-size: 23px;
    font-family: 'Mansalva', cursive;
    color: #F0F3F4;
}
.fontmodal{
    font-size: 40px;
    color: #F0F3F4;
    font-family: 'Dancing Script', cursive;
}
.fontnav{
    font-size: 20px;
    color: #F0F3F4;
    font-family: 'Dancing Script', cursive;
}

.blue{
    color: #2980B9 ;
    font-size: 17px;
}
.purple{
    color: #884EA0  ;
    font-size: 17px;
}
.red{
    color: #E74C3C ;
    font-size: 17px;
}
.green{
    color: #48C9B0 ;
    font-size: 17px;
}
.yellow{
    color: #F1C40F ;
    font-size: 17px;
}
.pink{
    color: #f06292 ;
    font-size: 17px;
}
.prefont{
    font-family: 'Dancing Script', cursive;
    font-size: 23px;
    color: #F0F3F4;
}
.icon{
    font-size: 40px;
    color: #76D7C4;
}
.center{
    text-align: center;
}



.textwelcome {
    padding-top:100px;
    font-family: 'Mansalva', cursive;
    font-size: 100px;
    color:#455a64;
    text-shadow:10px 3px #F1948A;
}
.buttonwelcome {
    padding-top:500px;
}
.button-welcome {
    font-family: 'Mansalva', cursive;
    font-size:40px;
    color:#455a64;
    font-weight:bold;
    text-shadow:3px 3px #F1948A;
}
.fontnavinfo{
    font-size: 20px;
    color: black;
    font-family: 'Dancing Script', cursive;
}
.navpromotion {
      background-color:#f48fb1;
}
.iconprofile{
    color: #1C2833;
    font-size: 20px;
}
.iconlogin {
    font-size:150px;
    padding-top:70px;
    text-shadow:3px 3px white;
    color:#F1948A;
}
.fontlogin{
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}

.buttonlogin {
    font-size:15px;
}
.profile{
    font-size: 30px;
    font-family: 'Manjari', sans-serif;
    color: #1C2833;
}
.divlogin {
    background-color:#bbdefb;
}
.divsignup {
    text-shadow:3px 3px white;
    margin-top:30px;
    width:100%;
    background-color:#F1948A;
    text-align:center;
    padding-bottom:5px;
}
.fontsignup {
    font-size: 30px;
    font-weight:bold;
    font-family: 'Dancing Script', cursive;
}
.iconsignup {
    text-shadow:3px 3px white;
    font-size:70px;
    padding-top:70px;
    color:#1C2833;
}
.formsignup {
    width:800px;
    /* border:1px solid black; */
    margin-top:30px;
    margin-left:10%;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    font-weight:bold;
}
.buttonsignup {
    font-size:20px;
}
a:hover{
    text-decoration:none;
    color:#455a64;
}
.Anav:hover{
    font-weight:bold;
    background-color:#F1948A;
}
.boxnews{
    margin-left:20%;

}
.newstimeline{
    padding:30px;
    width:70%;
    margin-top:50px;
    border:1px white groove;
    border-radius:25px;
    background-color:#ffebee;
    box-shadow:2px 2px gray;
}
.star {
    color:yellow;
    font-size:40px;
    text-shadow: black 2px 2px;
}
.divcenter {
  margin: auto;
  width: 60%;
  padding: 10px;
}
.floatright {
    float:right;
}
.floatleft {
    float:left;
}
.divnewsshow {
    margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 50px;

}
.newstitleshow{
    font-weight:bold;
    font-size: 35px;
    color:#1C2833;
    font-family: 'Manjari', sans-serif;
}
.newscontentshow {
    text-indent: 50px;
    font-size: 25px;
    color: #1C2833;
    font-family: 'Manjari', sans-serif;
}
.divgallery {
    /* border:1px solid black; */
    width:30%;
    padding:30px;
    margin:20px;
    border-radius:25px;
    background-color:#f48fb1;
    display: inline-block;
}
.usernamepost {
    font-size: 20px;
    color:#1C2833;
    margin:10px;
    font-family: 'Dancing Script', cursive;
    
}
.like{
    margin-top:10px;
}
.divgalleryshow {
    margin-top:50px;
}
.buttonleft {
    font-size:50px;
    position: fixed;
    bottom: 40%;
    left: 10%;
    color:#e91e63 ;
    text-shadow:3px 3px black;
}
.buttonright {
    font-size:50px;
    position: fixed;
    bottom: 40%;
    right: 10%;
    color:#e91e63;
    text-shadow:3px 3px black;
}
.modalguide {
    margin:20px;
    font-size:15px;
}
.editprofile{
    float:right;
    font-size:20px;
    font-family: 'Manjari', sans-serif;
    text-shadow:3px 3px white;

}
.editprofile:hover{
    text-decoration:underline;
    font-weight:bold;
    text-shadow:3px 3px white;
    color:black;
}
.alertinputfalse {
    font-size:20px;
    color:red;
    font-weight:bold;
}
.divguide{
    margin:5px;
    border:#e93e80 10px dashed;
    border-radius:10px;
    background-color:#ffc5d8;
    text-align:left;
}
.forgotpw {
    font-size: 18px;
    color:red;
    font-family: 'Manjari', sans-serif;
    text-shadow:3px 3px white;
}