body {
    background-color:#F2D7D5;
}
.navhome {
    height: 70px;
    font-size:20px;
    padding-left:30px;
    background-color:#1C2833;
}
.titlenav{
    font-size: 20px;
    font-family: 'Manjari', sans-serif;
    color: #1C2833;
}
.titlepage{
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    color: #1C2833;
}
.titlecontent{
    font-size: 30px;
    font-family: 'Manjari', sans-serif;
    color: #1A5276;
}
.america{
    color: #3498DB;
    font-size: 40px;
}
.titles{
    font-size: 40px;
    font-family: 'Manjari', sans-serif;
    color: #1A5276;
}
.greens{
    color: #48C9B0 ;
    font-size: 20px;
}
.news{
    font-size: 17px;
    color: #1C2833;
}
.newstitle{
    font-size: 20px;
    color:#1C2833;
}
.navview{
    height: 40px;
    background-color: #e0e0e0;
}
.color{
    background-color:#FBFCFC ;
}
.fonttitle{
    font-size: 23px;
    font-family: 'Mansalva', cursive;
    color: #F0F3F4;
}
.fontmodal{
    font-size: 40px;
    color: #F0F3F4;
    font-family: 'Dancing Script', cursive;
}
.fontnav{
    font-size: 20px;
    color: #F0F3F4;
    font-family: 'Dancing Script', cursive;
}
.blue{
    color: #2980B9 ;
    font-size: 17px;
}
.purple{
    color: #884EA0  ;
    font-size: 17px;
}
.red{
    color: #E74C3C ;
    font-size: 17px;
}
.green{
    color: #48C9B0 ;
    font-size: 17px;
}
.yellow{
    color: #F1C40F ;
    font-size: 17px;
}
.pink{
    color: #f06292 ;
    font-size: 17px;
}
.prefont{
    font-family: 'Dancing Script', cursive;
    font-size: 23px;
    color: #F0F3F4;
}
.icon{
    font-size: 40px;
    color: #76D7C4;
}
.center{
    text-align: center;
}



.textwelcome {
    padding-top:100px;
    font-family: 'Mansalva', cursive;
    font-size: 100px;
    color:#455a64;
    text-shadow:10px 3px #F1948A;
}
.buttonwelcome {
    padding-top:500px;
}
.button-welcome {
    font-family: 'Mansalva', cursive;
    font-size:40px;
    color:#F1948A;
    font-weight:bold;
}
.iconlogin {
    font-size:150px;
    padding-top:70px;
    text-shadow:3px 3px white;
    color:#F1948A;
}
.fontlogin{
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}
.divlogin {
    background-color:#bbdefb;
}
.divsignup {
    text-shadow:3px 3px white;
    margin-top:50px;
    width:100%;
    background-color:#F1948A;
    text-align:center;
}
.fontsignup {
    
    font-size: 30px;
    font-weight:bold;
    font-family: 'Dancing Script', cursive;
}
.iconsignup {
    text-shadow:3px 3px white;
    font-size:100px;
    padding-top:70px;
    color:#1C2833;
}
